@{
    ViewData["Title"] = "My Dashboard";
}
    

<div class="dashboard-container mt-5">
    <h2 class="text-center mb-4 fw-bold">Welcome back, @User.Identity.Name!</h2>
    <p class="text-center text-muted">Here is your dashboard where you can manage your account and view your activities.</p>

<div class="row justify-content-center mt-4">
  <div class="col-md-3 mb-3">
    <div class="card shadow-sm border-success">
      <div class="card-body text-center">
        <h5 class="card-title text-success">A1</h5>
        <p class="card-text">Basic Level</p>
        <a asp-controller="Quiz" asp-action="A1Module" class="btn btn-success">Start Module</a>
        <!--<a href="#" class="btn btn-primary">Start Module</a>-->
        <!--<a asp-controller="Quiz" asp-action="A1Alphabet" class="btn btn-primary">Alphabet Quiz</a>-->
        <!--<a asp-controller="Quiz" asp-action="A1Verbs" class="btn btn-primary">Verb Quiz</a>-->
      </div>
    </div>
  </div>
   <div class="col-md-3 mb-3">
    <div class="card shadow-sm border-secondary opacity-50">
      <div class="card-body text-center">
        <h5 class="card-title text-muted fw-bold">A2</h5>
        <p class="card-text">Finish Level A1</p>
        <a href="#" class="btn btn-secondary" disabled>Locked</a>
      </div>
    </div>
  </div>

   <div class="col-md-3 mb-3">
    <div class="card shadow-sm border-secondary opacity-50">
      <div class="card-body text-center">
        <h5 class="card-title text-muted fw-bold">B1</h5>
        <p class="card-text">Finish Level A2</p>
        <a href="#" class="btn btn-secondary" disabled>Locked</a>
      </div>
    </div>
  </div>
  
</div>
  @{
    ViewData["Title"] = "Min side";
}

<

      
