<!--https://www.w3schools.com/howto/howto_js_accordion.asp--->
<!--https://w3things.com/blog/accessible-html-accordion/--->
@using Albatross.ViewModels

@model ModuleTopViewModel


<h1>List of ModuleTopics (@Model.CurrentViewName View)</h1>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accessible Accordion</title>
    <link rel="stylesheet"  href="~/css/accordion.css"  />
  </head>

  <body>

<div class="container">
      <details>
        <summary>Demo accordion <strong>[Edit] [Delete All]</strong></summary>
        <p> Game 1 <strong>[Edit] | [Delete]</strong></p>
        <p> Game 2 <strong>[Edit] | [Delete]</strong></p>
    
    <p><Strong>[Create new game]</Strong></p>
    </details>
      
      @await Html.PartialAsync("_ModuleTable_Admin", Model.ModuleTopics) <!--//*-->



    </div>
  </body>
</html>

