<!--https://www.w3schools.com/howto/howto_js_accordion.asp--->
<!--https://w3things.com/blog/accessible-html-accordion/--->
@using Albatross.ViewModels

@model ModuleTopViewModel


<h2>List of player ModuleTopics (@Model.CurrentViewName View)</h2>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accessible Accordion</title>
    <link rel="stylesheet"  href="~/css/accordion.css"  />
    <link rel="stylesheet"  href="~/css/adminbutton.css"  />
  </head>

  <body>

   @foreach (var ModuleTopic in Model.ModuleTopics)
{
    <details>
        <summary>@ModuleTopic.ModuleTopicName</summary>
        <p>(a)ATaskName</p>
    </details>
}
      @if(User.IsInRole("Admin")){
      @await Html.PartialAsync("_ModuleTable_Admin", Model.ModuleTopics)<!--//*--> 
      }

    </div>
  </body>
</html>

