@model Albatross.Models.ModuleTopic

@{
    ViewData["Title"] = "Update Module Topic";
}

<h2>Update Module Topic</h2>

<form asp-action="Update">
    <input type="hidden" asp-for="ModuleTopicId" />
    
    <div class="form-group">
        <label asp-for="ModuleTopicName"></label>
        <input asp-for="ModuleTopicName" class="form-control" />
        <span asp-validation-for="ModuleTopicName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save changes</button>
    <a asp-action="Table" class="btn btn-secondary">Cancel</a>
</form>