<!--https://www.w3schools.com/howto/howto_js_accordion.asp--->

@using Albatross.ViewModels

@model ModuleTopViewModel

<h1>List of ModuleTopics (@Model.CurrentViewName View)</h1>
<!--<a href="/Item/Grid">Grid View</a>-->

<div class="container">
    <h3>Player Accordion topic table</h3>
    <table class='table table-striped'>
        <tr><th>Tasks</th></tr>
        @foreach(var moduleTopics in Model.ModuleTopics)
        {
            <tr>
                <td>@moduleTopics.ModuleTopicId</td>
                <td><button class="accordion">@moduleTopics.ModuleTopicName</button>
                <div class="panel">
                <p>Test</p>
                </div>
            </tr>
        }
    </table>
</div>

