@{
    ViewData["Title"] = "Home Page";
}

<section class= "home py-5" id="home">
    <section class="container d-flex flex-column flex-lg-row align-items-center justify-content-between">
          
        <div class="content col-lg-6 mb-5 mb-lg-0">
            <h1 class= "fw-bold text-teal mb-3">
                <span class ="text">Welcome to Albatross</span><br/>
                Learn Albanian Through Adventure!
            </h1>
            <p class="lead text-muted mb-4">
                Pack your bags and begin your journey across the heart of Albania.  
                Discover the language, culture, and history through fun challenges and  
                interactive stories guided by your digital travel companion.
            </p>
            <p class="text-muted">
            Earn points, unlock new outfits for your avatar, and see how far your jurney takes you!
            Are you ready to start your adventure?
            </p>
            <a class ="btn btn-success btn-lg mt-3 px-4" asp-controller="Account" asp-action="Register">Start Your Adventure</a>

        </div>

        <div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Url.Content("~/images/blob-image.png")" class="img-fluid" alt="Albatross Blob">
            </div>
            <div class="carousel-item">
                <img src="@Url.Content("~/images/BlueEyeSpring-Sarande-Carousel.png")" class="img-fluid" alt="Blue Eye Spring in Sarande">
            </div>
            <div class="carousel-item">
                <img src="@Url.Content("~/images/flag-carousel.png")" class="img-fluid" alt="Albanian Flag">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

       @* <div class="image col-lg-5 text-center">
            <img src="@Url.Content("~/images/blob-image.png")" 
            alt="Albatross Adventure Illustration" 
            class="img-fluid"/>
        </div> *@
    </section>
</section>

